/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    width: 100%;
   
    background-color: #dddddd;
    color: #262626;
    padding-bottom: 3rem;
    
}
img {
    display: block;
}

/* ===================header styling=========================== */

header > .container {
    background-color: #ffffff; 
    margin-bottom: 20px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding: 10px;
    
}

    .profile {
        padding: 10px;
        margin: 10px;
    }

        .profile-image img {
            border: 10px solid #ffffff;
            border-radius: 50%;
            background-color: #dddddd;
            box-shadow: 0 4px 6px 0px #262626, 0 6px 10px 0 #262626;
        }

        .profile-settings {
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

            .profile-user-settings {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .profile-edit-btn {
                    position: relative;
                }

                .profile-settings-btn {
                    border: none;
                    background: none;
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                }   




/* gallery section =============================



main {
  margin: 2rem auto;
}

main >.container {
	display: grid;
	background-color: #000;
	border: 1px solid #000;
	grid-gap: 1px;
	justify-self: center; 
	max-width: 292px;
	height: auto;
	margin: 0 auto;
}

.gallery {
  position: relative;
}

.gallery:hover {
  background-color: #dddddd;
}

.gallery:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: bold;
}

.gallery:hover .gallery-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}

.gallery:hover .gallery-item::after {
  content: '0';
  display: block;
  position: absolute;
  border: 1px solid #dddddd;
  left: -11px;
  right: -11px;
  bottom: -11px;
  top: -11px;
}

.gallery-item {
  position: relative;
  pointer-events: none;
  border: 10px solid #fff;
}

@media only screen and (min-width: 768px) {
	main > .container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		max-width: 583px;
	}
}

@media only screen and (min-width: 1024px) {
	
	main > .container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-width: 1165px;
	}
}

*/


/*

main {
    display: grid;
    place-items: center;
} 

main > .container {
    
    grid-gap: 5px;
    columns: 6;
    grid-row: auto;

    /*
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 50px;
    

    width: 100%;
    height: 100vh;
    
    background-color: #ffffff;

}

*/

main > .container {
    display: grid;
    place-items: center;
}

.gallery {
    display: grid;
    width: 100%;
    height: 100vh;
    padding: 10px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
    place-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    transition: .5s;
    background-color: #ffffff;
    
    
}


@media only screen and (min-width: 768px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		max-width: 500px;
	}
}

@media only screen and (min-width: 1024px) {
	
	.gallery {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		max-width: 1000px;
	}
}

.gallery-item {
    position: relative;
    width: 200px;
    height: 400px;
    overflow: hidden;
    margin-top: 100px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-info {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* Hover section */

.profile-edit-btn:hover {
    color: #ffffff;
    background-color: #262626;
    transition: 0.2 ease-in ;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
}


/* loader section ============================================ */

.loader {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background: #dddddd;
    border: 5px solid #ffffff;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s ease-in-out infinite alternate;
  }
  .loader:after{
    content:"";
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #262626;
  }
  @keyframes rotate {
    95% ,100% { transform: rotate(840deg) }
  }